@media screen and (max-width: 950px) {
    header {
        display: flex;
        /*This allows items in a flexbox to not be forced to touch*/
        justify-content: space-between;
        order: 1;
        border-bottom: solid #7d97ad 3px;
        width: 100%;
        margin-bottom: 1%;
        background-color: antiquewhite;
    }
    img {
        width: 100%;
    }
    .logo {
        width: 9em;
        height: 9em;
        padding: 2%;
        align-content: left;
    }
    .displayName {
        float: right;
        padding: 2%;
        margin: 1%;
        text-align: right;
        color: darkslategray;
    }
    .displayName h1 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 2em;
        font-weight: normal;
    }
    .displayName h3 {
        padding-top: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .headImage {
        display: flex;
        order: 2;
        width: 90%;
        padding: 0 5% 0 5%;
    }
    .featuredWork {
        color: #7d97ad;
        font-weight: 300;
        padding-left: 1%;
        padding-top: 6%;
        font-size: 3em;
        text-align: center;
    }
    .portfolioContent {
        display: flex;
        flex-wrap: wrap;
        order: 3;
        justify-content: space-between;
        width: 100%;
    }
    .project {
        text-align: center;
        padding: 1%;
        width: 100%;
        border-bottom: solid #7d97ad 3px;
        font-size: 2em;
    }
    .project img {
        -webkit-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        width: 100%;
    }
    .project h3 {
        color: #2d3c49;
        font-weight: 200;
        text-transform: uppercase;
    }
    .project a {
        text-decoration: none;
        color: #2d3c49;
        font-size: 12px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        background-color: #2d3c49;
        color: white;
        padding: 1%;
    }
}

@media screen and (min-width: 951px) {
    header {
        display: flex;
        /*This allows items in a flexbox to not be forced to touch*/
        justify-content: space-between;
        order: 1;
        border-bottom: solid #7d97ad 3px;
        width: 100%;
        margin-bottom: 1%;
        background-color: antiquewhite;
    }
    img {
        width: 100%;
    }
    .logo {
        width: 9em;
        height: 9em;
        padding: 2%;
        align-content: left;
    }
    .displayName {
        float: right;
        margin: 1%;
        text-align: right;
        color: darkslategray;
        font-size: 2em;
    }
    .displayName h1 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 2em;
        font-weight: normal;
    }
    .displayName h3 {
        padding-top: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .headImage {
        display: flex;
        order: 2;
        width: 90%;
        padding: 0 5% 0 5%;
    }
    .featuredWork {
        color: #7d97ad;
        font-weight: 300;
        padding-left: 1%;
        padding-top: 5%;
        font-size: 3em;
    }
    .portfolioContent {
        display: flex;
        flex-wrap: wrap;
        order: 3;
        justify-content: space-between;
        width: 100%;
    }
    .project {
        text-align: center;
        padding: 1%;
        width: 31%;
        font-size: 2em;
    }
    .project img {
        -webkit-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        width: 100%;
    }
    .project h3 {
        color: #2d3c49;
        font-weight: 200;
        text-transform: uppercase;
    }
    .project a {
        text-decoration: none;
        color: #2d3c49;
        font-size: 12px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        background-color: #2d3c49;
        color: white;
        padding: 1%;
    }
}
